html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}



/* nav ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: #3783a3;
}

h1 {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 1rem;
}

img {
  display: block;
  width: 100%;
} */
